.content{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(233, 248, 255);
    border-top:3px solid rgb(231, 238, 245) ;
}
.sub-container{
    position: absolute;
    flex-direction: column;
    background-color: whitesmoke;
    margin-top: 60px;
    margin-left: 340px;
    
    border-radius: 20px;
}
#icon3{
    position: absolute;
    margin-left: 240px;
    margin-top: -10px;
}


.sub-content{
    position: absolute;
    margin-top: 140px;
    margin-left: 150px;
}